<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/deceased">SSTech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link">
          <a class="nav-link" href="#">{{user.fullname}} : {{user.usertype}}</a>
        </li>
        <li class="nav-link item">
          <a class="nav-item underline" href="/">Log Out</a>
        </li>

      </ul>
      <form action="/filter" class="form-inline" method="POST">
        <input class="form-control mr-sm-2" name="patientName" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="accordion ui piled  segments" id="accordionExample">
    {{#each deceasedInfo}}
    <div class="ui center aligned segment">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{random}}"
            aria-expanded="
                        true" aria-controls={{random}}>
            {{fullname}}
          </button>
        </h5>
      </div>

      <div id={{random}} class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body row">
          <div class="col">
            <div class="card card-body">
              <a class="ui teal ribbon label">Patient Info</a>
              <table class="ui definition table">
                <tbody>
                  <tr>
                    <td class="two wide column">Full Name</td>
                    <td>{{fullname}}</td>
                  </tr>
                  <tr>
                    <td>Id No.</td>
                    <td>{{id_no}}</td>
                  </tr>
                  <tr>
                    <td>Contact No.</td>
                    <td>{{contact_no}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{address}}</td>
                  </tr>
                  <tr>
                    <td>Illness</td>
                    <td>{{illness}}</td>
                  </tr>
                  <tr>
                    <td>Doctor Name</td>
                    <td>{{doctor_name}}</td>
                  </tr>
                  <tr>
                    <td>Doctor's No.</td>
                    <td>{{doctor_no}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col">
            <div class="card card-body ">
              <a class="ui blue ribbon label">Deceased Report</a>
              <table class="ui definition table">
                <tbody>
                  <tr>
                    <td class="two wide column">Report </td>
                    <td>{{report}}</td>
                  </tr>

                </tbody>
              </table>


              <form action="/add-deceased-report/{{deceased_id}}" method="POST">
                <p class="input-group mt-3 center">Edit Report</p>
                <div class="input-group mt-3 row">
                  <div class="form-group col">
                    <textarea class="form-control" name="report" id="message-text"></textarea>
                  </div>
                  <div class="form-group col">
                    <button class="btn btn-sm btn-outline-primary" type="submit">Submit Report</button>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>