<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/patients">HPS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link">
                    <a class="nav-link" href="#">{{user.fullname}} : {{user.usertype}}</a>
                </li>
                <li class="nav-link item">
                    <a class="nav-item underline" href="/auth">Log Out</a>
                </li>

            </ul>
            <form class="form-inline">
                <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addPatient" type="button">Add
                    patient</button>
                <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addMedication" type="button">Add
                    Medication</button>
                <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addAppointment" type="button">Add
                    Appointment</button>
            </form>
           
            <form action="/filter" class="form-inline" method="POST">
                <input class="form-control mr-sm-2" name="patientName" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
     {{#if messages.success}}
              <h5>{{messages.success}}</h5>
              {{/if}}
                {{#if messages.error}}
              <h5>{{messages.error}}</h5>
              {{/if}}

    <div class="accordion ui piled  segments" id="accordionExample">
        {{#each patientsInfo}}
        {{#if alive}}
        <div class="ui center aligned segment">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{random}}"
                        aria-expanded="
                        true" aria-controls={{random}}>
                        {{fullname}}
                    </button>
                </h5>
            </div>

            <div id={{random}} class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body row">
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui teal ribbon label">Patient Info</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Full Name</td>
                                        <td>{{fullname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Id No.</td>
                                        <td>{{id_no}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No.</td>
                                        <td>{{contact_no}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{address}}</td>
                                    </tr>
                                    <tr>
                                        <td>Illness</td>
                                        <td>{{illness}}</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Name</td>
                                        <td>{{doctor_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor's No.</td>
                                        <td>{{doctor_no}}</td>
                                    </tr>
                                    <tr>
                                        <td>Hospital Name</td>
                                        <td>{{hospital_name}}</td>
                                    </tr>


                                </tbody>
                            </table>
                            <p>Transfer Patient</p>
                            <form action="/transfer-patient/{{id}}" method="POST">
                                <div class="input-group mb-3">

                                    <select class="custom-select" name="hospital" id="hospitalSelect02">
                                        <option disbled>Select Hospital</option>
                                        {{#each hospitals}}
                                        <option value="{{hospital_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                                <button class="btn btn-sm btn-outline-primary" type="submit">Transer
                                    Patient</button>
                            </form>
                            <form action="/patient-deceased/{{id}}" method="POST">
                                <p class="input-group mt-3 center">Mark As Deceased</p>
                                <div class="input-group mt-3">

                                    <button class="btn btn-sm btn-outline-secondary" type="submit">Mark As Deceased
                                    </button>
                                </div>
                            </form>

                        </div>


                    </div>

                    <div class="col">
                        <div class="card card-body ">
                            <a class="ui blue ribbon label">Medication History</a>
                            {{#each medications}}
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>{{description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>{{meds}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{issue_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{/each}}

                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui orange right ribbon label">Appointments</a>
                            {{#each appointments}}
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>{{description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{appointed_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <div class="modal fade" id="addPatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Patient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/add-patient" method="POST">
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col">
                                <label for="recipient-name" class="col-form-label">ID No :</label>
                                <input type="text" name="idno" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group col">
                                <label for="message-text" class="col-form-label">Full Name :</label>
                                <input class="form-control" name="fullname" id="message-text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Home Address :</label>
                            <input type="text" name="address" class="form-control" id="recipient-name">
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="message-text" class="col-form-label">Illness :</label>
                                <input class="form-control" name="illness" id="message-text">
                            </div>
                            <div class="form-group col">
                                <label for="recipient-name" class="col-form-label">Doctor's Name :</label>
                                <input type="text" name="doctorname" class="form-control" id="recipient-name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="message-text" class="col-form-label">Contact No :</label>
                                <input class="form-control" name="contact" id="message-text">
                            </div>
                            <div class="form-group col">
                                <label for="message-text" class="col-form-label">Doctor's No :</label>
                                <input class="form-control" name="doctorno" id="message-text">
                            </div>
                        </div>
                        <div class="input-group mb-3">

                            <select class="custom-select" name="hospital" id="inputGroupSelect02">
                                <option disbled>Select Hospital</option>
                                {{#each hospitals}}
                                <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            </select>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="Submit">Add Patient</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addMedication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Patient Medication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/add-medication" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Description :</label>
                            <input type="text" name="description" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Meds :</label>
                            <textarea class="form-control" name="meds" id="message-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Date Issued :</label>
                            <input class="form-control" type="date" name="dateissued" id="message-text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Medication</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Patient Appointment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/add-appointment" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Description :</label>
                            <input type="text" name="description" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Appointment Date :</label>
                            <input class="form-control" type="date" name="appointmentdate" id="message-text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Medication</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>