<div class="">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <form action="/filter" class="form-inline" method="POST">
            <input class="form-control mr-sm-2" name="patientName" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="accordion ui piled  segments" id="accordionExample">
        {{#each patientsInfo}}
        <div class="ui center aligned segment">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{random}}""
                        aria-expanded="
                        true" aria-controls={{random}}>
                        {{fullname}}
                    </button>
                </h5>
            </div>

            <div id={{random}} class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body row">
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui teal ribbon label">Patient Info</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Full Name</td>
                                        <td>{{fullname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Id No.</td>
                                        <td>{{id_no}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No.</td>
                                        <td>{{contact_no}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{address}}</td>
                                    </tr>
                                    <tr>
                                        <td>Illness</td>
                                        <td>{{illness}}</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Name</td>
                                        <td>{{doctor_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor's No.</td>
                                        <td>{{doctor_no}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body ">
                            <a class="ui blue ribbon label">Medication History</a>
                            {{#each medications}}
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>{{description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>{{meds}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{date_issued}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{/each}}

                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui orange right ribbon label">Appointments</a>
                            {{#each appointments}}
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>{{description}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{appointment_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>